## Save this as ~/.mutt/.localprofile - this file will be sourced upon load
## It must contain machine-specific and private data, see below for example
## Can (and should!) be encrypted with GPG:
# gpg -r your_gpg_id -e ~/.mutt/.localprofile
# mv ~/.mutt/.localprofile.gpg ~/.mutt/.localprofile

# If you don't like full profile encrypton, at least encrypt your passwords:
# create ~/.mutt/pwd file with set imap_pass = "pass" and set smtp_pass = "pass"
# gpg -r id -e ~/.mutt/pwd
# mv ~/.mutt/pwd.gpg ~/.mutt/pwd
# add that line to .localprofile - source "gpg -d ~/.mutt/pwd |"
# replace "source "gpg -d ~/.mutt/.localprofile |"" with "source ~/.mutt/.localprofile"

## Main settings - mailboxes

## IMAP example (gmail)
#set from = "user@example.org"
#set realname = "IMAP USER"
#set imap_user = "user@example.org"
#set imap_pass = "password"
#set folder = "imaps://imap.gmail.com:993"
#set spoolfile = "+INBOX"
#set postponed ="+[Gmail]/Drafts"
#set trash = "imaps://imap.gmail.com/[Gmail]/Trash"
#set smtp_url = "smtp://user@example.org@smtp.gmail.com:587/"
#set smtp_pass = "password"
## end IMAP example

#by default, mutt saves all sent messages to ~/sent, which is not good
#You can disable it with something like that:
#set record = "/dev/null"

#caching settings, here we can cache headers:
#set header_cache = "~/.mutt/.cache"
#and messages body:
#set message_cachedir = "~/.mutt/.cache"

## Local mailbox example (in maildir format)
#set mbox_type=Maildir
#set spoolfile="~/Maildir/"
#set folder="~/Maildir/"
#set mask="!^\\.[^.]"
#set record="+.Sent"
#set postponed="+.Drafts"

#mailboxes `echo -n "+ "; find ~/Maildir -maxdepth 1 -type d -name ".*" -printf "+'%f' "`

#macro index c "<change-folder>?<toggle-mailboxes>" "open a different folder"
#macro pager c "<change-folder>?<toggle-mailboxes>" "open a different folder"

## end local mailbox example


## Various settings
#set pgp_sign_as=0x0000000000000000
#set delete = yes

## Custom headers example
#my_hdr X-Homepage: http://example.org
#my_hdr X-PGP-Key: http://example.org/pubinfo/user.asc
#hdr_order Date From To Cc
