### VIM ###
.vim/swap/undodir/*
.vim/swap/*
.vim/backup/*
.vim/.netrwhist

### MUTT ###
.mutt/.localprofile
.mutt/certificates

### MC ###
.config/mc/panels.ini

### AWESOME AUTORUN ###
.config/awesome/autorun/*

### SHELL ENV ###
sh.d/S99_local
