[merge]
	summary = true
	tool = vimdiff
[diff]
	renames = copy
[i18n]
	logoutputencoding = UTF-8
[format]
	numbered = true
[status]
	submodulesummary = -1 
[color]
	branch = true
	diff = true
	interactive = true
	status = true
[core]
	editor = vim
[user]
	name = Lex Rivera
	email = x-demon@x-demon.org
