### VIM BLOCK ###
.vim/swap/*
.vim/GetLatest/Installed/*
.vim/GetLatest/GetLatestVimScripts.dist
.vim/backup/*
.vim/.netrwhist

### MC ###
.mc/history

### MUTT ###
.mutt/.localprofile
.mutt/certificates

### AWESOME AUTORUN ###
.config/awesome/autorun/*

### FISH ###
.config/fish/fish_history
.config/fish/fishd.*

### NCMPCPP ###
.ncmpcpp/error.log
