### VIM ###
.vim/swap/*.swp
.vim/swap/undodir/*
.vim/swap/*~
.vim/backup/*
.vim/.netrwhist

### MUTT ###
.mutt/.localprofile
.mutt/certificates

### AWESOME AUTORUN ###
.config/awesome/autorun/*

### NCMPCPP ###
.ncmpcpp/error.log

### SHELL ENV ###
sh.d/S99_local
