# Auto-indend (Meta-I)
set autoindent
# brackets
set brackets ""')>]}"
# match brackets. Use meta+altgr+bracket to switch
set matchbrackets "(]}"
# remove empty first line (Meta-O to toggle)
set morespace
# mouse support (Meta-M)
set mouse
# multibuffer (Meta-F and switching with meta->/<)
set multibuffer
# smooth scroll, line-by-line
set smooth


### Syntax blocks
include "/usr/share/nano/nanorc.nanorc"
include "/usr/share/nano/c.nanorc"
include "/usr/share/nano/html.nanorc"
include "/usr/share/nano/patch.nanorc"
include "/usr/share/nano/man.nanorc"
include "/usr/share/nano/groff.nanorc"
include "/usr/share/nano/perl.nanorc"
include "/usr/share/nano/python.nanorc"
include "/usr/share/nano/gentoo.nanorc"
include "/usr/share/nano/css.nanorc"
include "/usr/share/nano/php.nanorc"
include "/usr/share/nano/gentoo.nanorc"
include "/usr/share/nano/sh.nanorc"
